* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background: black;
    color: white;
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.imgs {
    margin: 5vh;
    align-items: left;
    transition: 0.5s;
}

.imgSize {
    min-width: 50vh;
    min-height: 50vh;
    width: 50vh;
    height: 50vh;
}

.myButtons {
    padding-left: 30vh;
    padding-right: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.btn {
    background-color: white;
    color: black;
    min-width: 100px;
    min-height: 50px;
    width: 8vw;
    height: 2vw;
    margin: 1vw;
    padding: 25px;
    border-radius: 10px;

    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    /* aligns text (and anything else) in the middle of the box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    cursor: pointer;
}

h1 {
    /* h1 */
    font-family: Oswald;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.2);
}

.win {
    transition: 3s;
    background-color: green;
}

.lose {
    transition: 3s;
    background-color: red;
}